<mat-toolbar>
  <mat-toolbar-row>
    <img
      src='../../assets/images/stock-vector-hand-holding-sheet-with-utility-bills-simple-flat-style-trend-modern-graphic-creative-design-680501281.jpg'
      alt=''>
    <span class='header'>Utility Bill</span>
    <span class='spacer'></span>
    <span routerLink='milk' class='header'>Milk</span>
    <span class='header'>Electricity</span>
    <span class='header'>DTH</span>
    <span routerLink='login' class='header'>Login</span>
  </mat-toolbar-row>
</mat-toolbar>
